.nav-item {
	display: flex;
	align-items: flex-end;
}

.nav-link {
	font-size: 21px;
	font-weight: 500;
	transition: all 0.5s;
}

.nav-link:hover {
	color: black;
	font-size: 24px;
}

.nav-link.active {
	font-size: 24px;
	color: orangered !important;
}