#cinema .cinema_content {
	 display: flex;
}
 #cinema .cinema_content .cinema_picture {
	 margin: 10px 10px 0px 10px;
}
 #cinema .cinema_content .cinema_picture img {
	 max-height: 50px;
	 max-width: 50px;
}
 #cinema .cinema_content .cinema_list {
	 max-height: 705px;
	 border-top: 1px solid #ebebec;
	 border-bottom: 1px solid #ebebec;
	 overflow: hidden;
	 width: 30%;
}
 #cinema .cinema_content .cinema_list .cinema_item {
	 position: relative;
	 display: flex;
	 padding-top: 11px;
	 padding-left: 10px;
	 opacity: 0.5;
	 transition: all 0.5s;
}
 #cinema .cinema_content .cinema_list .cinema_item:hover {
	 cursor: pointer;
	 opacity: 1;
}
 #cinema .cinema_content .cinema_list .cinema_item::after {
	 content: '';
	 position: absolute;
	 width: 100%;
	 height: 1px;
	 border-bottom: 1px solid #fff;
	 border-color: rgba(238, 238, 238, .88);
	 bottom: -2px;
}
 #cinema .cinema_content .cinema_list .cinema_item .cinema_name {
	 padding: 5px 0px;
}
 #cinema .cinema_content .cinema_list .cinema_item .cinema_name p {
	 font-size: 12px;
}
 #cinema .cinema_content .cinema_list .cinema_item .cinema_name a {
	 color: #fb4226;
	 font-size: 12px;
	 text-decoration: none;
}
 #cinema .cinema_content .cinema_list .cinema_item .cinema_name .cinema_title {
	 margin-bottom: 0;
}
 #cinema .cinema_content .cinema_list .cinema_item .cinema_name .cinema_title a {
	 color: #8bc541;
	 margin-right: 5px;
}
 #cinema .cinema_content .cinema_list .cinema_item .cinema_name .cinema_position {
	 margin-bottom: 0;
	 font-size: 14px;
	 color: #949494;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 white-space: nowrap;
}
 #cinema .cinema_content .showtime {
	 max-height: 705px;
	 width: 566px;
	 border: 1px solid #ebebec;
}
 #cinema .cinema_content .showtime p {
	 padding-top: 20px;
	 padding-left: 37%;
	 font-size: 16px;
	 font-weight: 600;
}
 #cinema .cinema_content .cinema_img ul {
	 list-style: none;
	 border: 1px solid #ebebec;
	 min-height: 705px;
	 width: 92px;
	 border-top-left-radius: 4px;
	 border-bottom-left-radius: 4px;
	 padding-left: 22px;
	 padding-top: 20px;
}
 #cinema .cinema_content .cinema_img ul li {
	 margin-bottom: 35px;
}
 #cinema .cinema_content .cinema_img ul li .active {
	 opacity: 1;
}
 #cinema .cinema_content .cinema_img ul li div {
	 opacity: 0.5;
	 transition: all 0.5s;
	 position: relative;
	 cursor: pointer;
}
 #cinema .cinema_content .cinema_img ul li div:hover {
	 opacity: 1;
}
 #cinema .cinema_content .cinema_img ul li div::after {
	 content: '';
	 position: absolute;
	 width: 100%;
	 height: 1px;
	 bottom: -32px;
	 left: 0;
	 border-bottom: 1px solid #fff;
	 border-color: rgba(238, 238, 238, .88);
}
 #cinema .cinema_content .cinema_img ul li div img {
	 max-width: 50px;
	 max-height: 50px;
}